h1{
text-align:center;
border:2px solid tomato;
margin-left:30%;
margin-right:30%;
padding:30px;
font-size:200%;
font-family:cursive;
background-color:lightblue;
height:45%;
}
button{
margin-top:2%;
font-size:200%;
margin-left:1%;
padding:5px;
}
#demo{
font-size:300%;
margin-left:10%;
margin-top:10%;
}
footer{
  text-align: center;
  padding:10px;
  background-color: DarkSalmon;
  color: white;
  height:10%;
}
header{
background-color:#111a52;
height:20%;
}
article{
background-color:yellow;
height:60%;
}